* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    /* border: 2px solid red; */
    padding: 10px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
}
.sidenav{
        box-sizing: border-box;
        background-color: black;
        height: 97vh;
        border-radius: 10px;
        width: 18%;
    
}
.main{
    /* border: 2px solid green; */
    width: 80%;
    height: 100%;
    margin: 0 0 0 1%;
}

.graphs{
    background-color: white;
    margin: 0 4.3% 0 2%;
    border-radius: 30px;
}

.combo{
    /* border: 2px solid green; */
    box-sizing: border-box;
    margin-top: 2vh;
    height: 29vh;
    display: flex;
    justify-content: space-between;


}

.block{
    background-color: white;
    width:42% ;
    height: 29vh;
    margin: 0 4% 0 2%;
    border-radius: 30px;
}
